.home__container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.home__navbar{
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1100;
}