.countdown *, *::before, *::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    transform-style: preserve-3d;
}

body .countdown {
    font-family:"Red Hat Text",sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-size:.8rem;
    letter-spacing:.3rem;
    text-align:center;
    color:#8486a9;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(
      180deg,
      #191a24 20%,
      #1e1f29 48%,
      #2b212d 72%
    );
    height: 100vh;
  }

  body .countdown__stars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../assets/bg-stars.svg");
    background-size: 100%;
    width: 100vw;
    height: 70%;
    padding-top: 16em;
    z-index: 1000;
  }

  body .countdown__mtns {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url("../../assets/pattern-hills.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    width: 100vw;
    height: 30%;
    position:absolute;
    left:0;
    bottom:0;
    z-index: 100;
  }

  body .countdown__cards {
    z-index: 0;
  }

   .countdown__stars h1 {
    text-transform: uppercase;
    font-size:1.8rem;
    color:#fff;

  }

  .countdown__cards {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:6rem;
    margin-bottom:22vh;
  }

.card{
    margin:0 1rem;
}

.card:first-child{
    margin-left:0;
}

.card:last-child{
    margin-right:0;
}

 