.disclaimer__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: max-content;
    border: none;
    border-top: 1px solid;
}

.disclaimer__card{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 16rem;
    padding: 0;
}


.disclaimer__card-title{
    font-size: 16px;
    line-height: 22px;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 16px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: normal;
}

.disclaimer__card-content{
    font-weight: lighter;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 12px;
    color: rgba(53, 52, 52, 0.8);
    font-weight: lighter;
    cursor: pointer;
}

.disclaimer__card-content:hover {
    color: rgb(13, 71, 71);
}

.fa-external-link-alt{
    margin: 0;
    margin-left: .25rem;
    padding: 0;
    color: rgb(27, 27, 230);
}