.transfers__container{
    background-color: gray;
    position: fixed;
    height: 100%;
    width: 100%;
}

.transfers__back-btn-container{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 120px;
    border-radius: 40px;
    background-color: rgb(73, 70, 70);
    opacity: .4;

}

.transfers__back-btn-container:hover {
    opacity: 1;
}

.transfers__back-btn-container button {
    background-color: transparent;
    color: #fff;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: .4;
}

.keypad__btn-plaid{
    background-color: black;
    border-radius: 8px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 16px;
    color: white;
}

