
.app__route-container{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.app__side-bar{
    position: relative;
    margin-right: 2.5rem;

}

.app_main-content {
    flex: 1;
    max-width: 1280px;
    margin: 0 auto;
    padding-right: 5rem;
  }
  
  @media (max-width: 639px) {
    .app_main-content {
      max-width: 100%;
    }
  }
  
@media (min-width: 640px) {
    .app__side-bar {
        display: flex;
    }
  }