@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.rotatey {
  transform: rotateY(180deg);
}

.orange-gradient {
  background: linear-gradient(180deg, #f3bc51 50%, #f9db74);
}

.dropdown:focus-within .dropdown-menu {
  /* @apply block; */
  display: block;
}

.prof-focus:focus-within .prof-menu {
  /* @apply block; */
  display: block;
}

.carousel-slide {
  animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.images-table-row:nth-child(even) {
  background-color: #f8f8f8; /* Set the background color for even rows */
}
.images-table-row:nth-child(odd) {
  background-color: #ffffff; /* Set the background color for odd rows */
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.loader {
  --c: no-repeat linear-gradient(rgba(128, 212, 17, 0.4) 0 0);

  /* Blue outline background */
  background: var(--c) 0 0, var(--c) 100% 0, var(--c) 100% 100%, var(--c) 0 100%;

  animation: l1 30s infinite alternate;
}

@keyframes l1 {
  0% {
    background-size: 0 4px, 4px 0, 0 4px, 4px 0;
  }
  25% {
    background-size: 100% 4px, 4px 0, 0 4px, 4px 0;
  }
  50% {
    background-size: 100% 4px, 4px 100%, 0 4px, 4px 0;
  }
  75% {
    background-size: 100% 4px, 4px 100%, 100% 4px, 4px 0;
  }
  90%,
  100% {
    background-size: 100% 4px, 4px 100%, 100% 4px, 4px 100%;
  }
}

.sparkles path {
  fill: whitesmoke;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  animation: sparkle 2.2s infinite ease-in-out;
}

@keyframes sparkle {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  70% {
    transform: scale(-0.7, 0);
  }
  80% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(0);
  }
}
