@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.rotatey {
    transform: rotateY(180deg);
}

.orange-gradient {
    background: linear-gradient(180deg,#f3bc51 50%,#f9db74);
}