@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.rotatey {
  transform: rotateY(180deg);
}

.orange-gradient {
  background: linear-gradient(180deg, #f3bc51 50%, #f9db74);
}

.dropdown:focus-within .dropdown-menu {
  /* @apply block; */
  display: block;
}

.prof-focus:focus-within .prof-menu {
  /* @apply block; */
  display: block;
}

.carousel-slide {
  animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.images-table-row:nth-child(even) {
  background-color: #f8f8f8; /* Set the background color for even rows */
}
.images-table-row:nth-child(odd) {
  background-color: #ffffff; /* Set the background color for odd rows */
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
