/* Add more media queries as needed */

.circle {
  animation: pulse 7s infinite cubic-bezier(0.33, 0.5, 0.64, 1.43);
}

.logo,
.sparkles {
  animation: logoReveal 7s infinite ease-in-out;
}

/* HTML: <div class="loader"></div> */

.loader {
  --c: no-repeat linear-gradient(rgba(128, 212, 17, 0.4) 0 0);

  /* Blue outline background */
  background: var(--c) 0 0, var(--c) 100% 0, var(--c) 100% 100%, var(--c) 0 100%;

  animation: l1 10s infinite alternate;
}

@keyframes l1 {
  0% {
    background-size: 0 4px, 4px 0, 0 4px, 4px 0;
  }
  25% {
    background-size: 100% 4px, 4px 0, 0 4px, 4px 0;
  }
  50% {
    background-size: 100% 4px, 4px 100%, 0 4px, 4px 0;
  }
  75% {
    background-size: 100% 4px, 4px 100%, 100% 4px, 4px 0;
  }
  90%,
  100% {
    background-size: 100% 4px, 4px 100%, 100% 4px, 4px 100%;
  }
}

@keyframes basePulse {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  6% {
    opacity: 0;
    transform: scale(0.75);
  }
  16% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1);
  }
  92% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.75);
  }
}

@keyframes midPulse {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  4% {
    opacity: 0;
    transform: scale(0.75);
  }
  14% {
    opacity: 0.7;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(1);
  }
  94% {
    opacity: 0.7;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.75);
  }
}

@keyframes topPulse {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  2% {
    opacity: 0;
    transform: scale(0.75);
  }
  12% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  96% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.75);
  }
}

.logo,
.sparkles {
  animation: logoReveal 7s infinite ease-in-out;
}

@keyframes logoReveal {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.sparkles path {
  fill: white;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  animation: sparkle var(--duration) var(--delay) infinite ease-in-out;
}

@keyframes sparkle {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  70% {
    transform: scale(-1, 0);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
