

.form-container > button  {
    cursor: pointer;
}

 .bg-inpt-container-bl100:focus {
    background-color: transparent;
}

.line-eff-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .line-eff-container::before,
  .line-eff-container::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: black;
    margin: 0 10px;
  }
  
  .hidden{
    display: none;
  }

  .rotate-180 {
    transform: rotate(180deg);
  }

  .curs-pt{
    cursor: pointer;
  }
  

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Blue */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  
  .spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 350px;
  }

  .alert {
    display: flex;
    align-items: center;
    background-color: #f8d7da;
    color: #721c24;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    
  }
  .prompt {
    display: flex;
    align-items: center;
    background-color: #e6f6d3;
    color: #0a6b6d;
    padding: 12px;
    border-radius: 8px;
    font-size: 12px;
  }
  
  .circ-1px {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    background-color: #f44336;
    color: #ffffff;
    margin-right: 12px;
  }
  

  
  .btn-prompt {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    margin-right: 12px;
    cursor: pointer;
    font-size: 16px;
    
  }
  
  .btn-prompt button:hover {
    background-color: #0069d9;
  }

  .not-ready{
    cursor: not-allowed;
  }

  .menu-hidden{
    display: none;
  }

  .ls-none{
    list-style: none;
  }

  .prof-menu{

    display: none;
    z-index: 10000;
    background-color:whitesmoke;

  }

  .prof-focus:focus-within .prof-menu {
    display: block;
  }

  .listings_nav{
    margin: 00px 60px 0px 0px;
  }

  .account_nav{
    margin: 0px 0px 0px 350px;
  }


  .hidden-popup{
    display: none;
  }

  .no-pointer{
    pointer-events: none;
  }
 
  #trade-buy-button:disabled {
    pointer-events: none;
    cursor: not-allowed; /* change the cursor to not-allowed */
  }
  
   #trade-buy-button:enabled {
    pointer-events: all;
    cursor: pointer;
  }

  .trade-buy-button:disabled {
    pointer-events: none;
    cursor: not-allowed; 
    opacity: .4;
  }
  
   .trade-buy-button:enabled {
    pointer-events: all;
    cursor: pointer;
  }

  .transfer-btn:disabled{
    opacity: .4;
    cursor: not-allowed;
  }

  input.trade-slider {
    width: 100%;
    height: 5px;
    background: transparent;
    -webkit-appearance: none;
  }

  input.trade-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #a7a70b;
    border-radius: 0px;
    border: 0px solid #010101;
}
input.trade-slider::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #ffffff;
    border-radius: 0px;
    border: 0px solid #010101;
}

input.trade-slider::-webkit-slider-thumb {
    box-shadow: none;
    border: 0px solid #ffffff;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
    height: 35px;
    width: 22px;
    border-radius: 20px;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
}
input.trade-slider::-moz-range-thumb{
    box-shadow: none;
    border: 0px solid #ffffff;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
    height: 35px;
    width: 22px;
    border-radius: 20px;
    background: rgba(255,255,255,1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
}

.bar-max{
  margin-top: 20px;
  height: 25px;
  width: 60%;
  margin-left: 16%;
  margin-right: 1%;
  background-color: #fff;
}
.purchase-power{
  margin: 0;
  padding: 0;
  height: 25px;
  background-color: rgb(185, 255, 141);
}


/* This container is needed to position the front and back side */
.flip-card-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.hoverme .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  align-items: center;
  display: flex;
  flex-direction: column;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Position the front and back side */
 .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}

.test{
  z-index: -1;
}

.test1{
  z-index: 1000;
}