

.form-container > button  {
    cursor: pointer;
}

 .bg-inpt-container-bl100:focus {
    background-color: transparent;
}

.line-eff-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .line-eff-container::before,
  .line-eff-container::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: black;
    margin: 0 10px;
  }
  
  .hidden{
    display: none;
  }

  .rotate-180 {
    transform: rotate(180deg);
  }

  .curs-pt{
    cursor: pointer;
  }
  

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Blue */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  
  .spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 350px;
  }

  .alert {
    display: flex;
    align-items: center;
    background-color: #f8d7da;
    color: #721c24;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    
  }
  .prompt {
    display: flex;
    align-items: center;
    background-color: #e6f6d3;
    color: #0a6b6d;
    padding: 12px;
    border-radius: 8px;
    font-size: 12px;
  }
  
  .circ-1px {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    background-color: #f44336;
    color: #ffffff;
    margin-right: 12px;
  }
  

  
  .btn-prompt {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    margin-right: 12px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-prompt button:hover {
    background-color: #0069d9;
  }

  .not-ready{
    cursor: not-allowed;
  }

  .menu-hidden{
    display: none;
  }

  .ls-none{
    list-style: none;
  }

  .prof-menu{
    position: absolute;
    top: 55px;
    right: 40px;
    height: max-content;
    width: max-content;
    padding: 20px 40px 60px 0px;
    background-color: whitesmoke;
    z-index: calc(100 + var(--max-z-index));
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    align-items: center;
    display: none;

  }

  .prof-icon{
    cursor: pointer;
    text-transform: uppercase;
    background-color: #0a6b6d;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    padding: 12px;
    color: #fff;
  }

  .prof-focus:focus-within .prof-menu {
    display: block;
  }

  .home_nav{
    margin: 00px 60px 0px 0px;
  }

  .listings_nav{
    margin: 00px 60px 0px 0px;
  }

  .account_nav{
    margin: 0px 0px 0px 350px;
  }


