
.keypad__container{
   position: fixed;
   left: 30%;
   top: 15%;
   display: flex;
   flex-direction: column;
}

.keypad__main-container{
    display: flex;
    flex-direction: row;
}

.keypad__bank-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 250px;
    margin: 140px 0 0 0;
    padding: 20px;
}

.keypad__bank-links h4 {
    font-size: 18px;
    color: white;
    border-radius: 40px;
    border: 1px solid rgb(143, 138, 138);
    padding: 12px;
}

td.keypad__btn-columns{
    margin: 0;
    padding: 0;
    width: 0;
}

.keypad__entry-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;

}

.keypad__amount{
    color: #fff;
    font-size: 70px;
    padding: 20px;
}

.keypad__table {
    width: 100%;
}

.keypad__table tr {
    align-items: center;
    text-align: center;
}

button.keypad__buttons{
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 25px;
    font-size: 60px;
}


.keypad__review{
    display: flex;
    flex-direction: row;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 60px;
    height: 120px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 190px 0 0 0;

}

.keypad__review button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
}

 .keypad__review > button:disabled, .keypad__review{
    opacity: .2;

}

 .keypad__review button.keypad__review-btn:enabled, .keypad__review{
    opacity: 1;
}

button.keypad__review-btn:disabled{
    pointer-events: none;
}

button.keypad__review-btn:enabled{
    cursor: pointer;
}

.keypad__dropdown-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.keypad__links-dropdown button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.keypad__links-dropdown button:hover h4{
    background-color: #000000;
   
}


ul.keypad__links-dropdown{
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.keypad__links-dropdown li{
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    white-space: pre-wrap;
}



.keypad__links-dropdown h4{
    margin: 0;
    padding: 16px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.keypad__bank-accts{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: -10%;
    top: 25%;
    width: 300px;
    height: 40vh;
}

ul.keypad__bank-accts{
    margin: 0;
    padding: 0;
}

.keypad__bank-accts li {
    margin: 0;
    padding: 0;
    color: #fff;
    border-bottom: 1px solid;
    
}

.keypad__bank-accts{
    background-color: rgb(0, 3, 15);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 4px;
}

.keypad__bank-accts button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.keypad__bank-accts button {
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 8px;
    margin: 0;
    margin-left: 20px;
    cursor: pointer;
}

.keypad__hidden{
    display: none;
}

.keypad__btn-plaid{
    cursor: pointer;
}

@media only screen and (min-width: 850px) and (max-width: 1099px) {
    .keypad__entry-container{
        width: 250px;
    }

    .keypad__amount{
        font-size: 40px;
        padding: 14px;
    }

    button.keypad__buttons{
        font-size: 30px;
        padding: 14px;
    }
  
    .keypad__review button{
        font-size: 14px;
    }

    .keypad__review{
        height: 80px;
        padding: 14px;
        margin: 120px 0 0 0;
        width: 120px;
    
    }

    .keypad__bank-links{
        height: 180px;
        margin: 80px 0 0 0;
        padding: 14px;
    }
       
}
    

@media only screen and (min-width: 600px) and (max-width: 849px) {
    .keypad__entry-container{
        width: 150px;

    }

    .keypad__amount{
        font-size: 36px;
        padding: 12px;
    }

    button.keypad__buttons{
        font-size: 28px;
        padding: 12px;
    }
  
    .keypad__review button{
        font-size: 12px;
    }

    .keypad__review{
        height: 60px;
        padding: 12px;
        margin: 110px 0 0 0;
        width: 120px;
    
    }

    .keypad__bank-links{
        height: 160px;
        margin: 80px 0 0 0;
        padding: 12px;
    }
       
}
    